.watch-product {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 10px;
}
.watches {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .watches {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .watch-product {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
@media screen and (max-width: 500px) {
  .watches {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
