.question {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.props-state {
  display: flex;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .question {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
